In [1]:
import pandas as pd
import numpy as np

In [2]:
path = "D:/Program/pytest/csv/data_science_course/1062_DS.csv"

In [3]:
df = pd.read_csv(path,index_col=False)
df.head()

   順序     班級         學號   姓名            加選原因
0   1   二資工四  A10515001  李大祥            自己加選
1   2   二資工四  A10515002  張天佑            自己加選
2   3   二資工四  A10515003  鄧鵬宇            自己加選
3   4   四資工五  B10215031  劉秉憲  授權碼:62DGHC9251
4   5  四電子四丙  B10302223  黃宇龍  授權碼:62BSBK1275

In [4]:
df.shape

(71, 5)

In [5]:
student_ID = df['學號']
name = df['姓名']

In [6]:
lis = ['學號','姓名']
id_name = df[lis]

In [7]:
id_name_dict = id_name.set_index('學號')['姓名'].to_dict()

In [8]:
group_list_path = "D:/Program/pytest/csv/data_science_course/Group list.csv"

In [9]:
group_list = pd.read_csv(group_list_path,header=None)
group_list.head(5)

               0              1              2               3
0  B10415016 楊璿譯  B10415022 賴麒文  B10415040 杜佳謙   B10415048 楊宗儒
1  B10415011 賴君庭  B10430038 葉品妤  B10430344 蔡芝逸             NaN
2  A10515001 李大祥  A10515002 張天佑  A10515003 鄧鵬宇  F10615020  劉林
3  B10415031 廖晨竹  B10415046 林崇恩  B10415047 陳重佑             NaN
4  B10302223 黃宇龍  B10330036 黃昱寰            NaN             NaN

In [10]:
group_list = group_list.values.reshape(-1)
group_list[:10]

array(['B10415016 楊璿譯', 'B10415022 賴麒文', 'B10415040 杜佳謙', 'B10415048 楊宗儒',
       'B10415011 賴君庭', 'B10430038 葉品妤', 'B10430344 蔡芝逸', nan,
       'A10515001 李大祥', 'A10515002 張天佑'], dtype=object)

In [11]:
cleanedList = [x for x in group_list if str(x) != 'nan']
cleanedList[:5]

['B10415016 楊璿譯',
 'B10415022 賴麒文',
 'B10415040 杜佳謙',
 'B10415048 楊宗儒',
 'B10415011 賴君庭']

In [12]:
fill_id = []
fill_name = []

for i in cleanedList:
    fill_id.append(i.split()[0])
    fill_name.append(i.split()[1])

In [13]:
len(fill_id)

65

In [14]:
len(fill_name)

65

In [15]:
len(id_name_dict.keys())

71

In [16]:
dif_set = set(id_name_dict.keys()) - set(fill_id)
dif_set = list(dif_set)
dif_set

['B10432032', 'B10415054', 'B10332035', 'B10432016', 'B10215031', 'B10415055']

In [17]:
np.random.shuffle(dif_set)
dif_set

['B10332035', 'B10432032', 'B10415054', 'B10432016', 'B10415055', 'B10215031']

In [18]:
# no_group={}

# for i in dif_set:
#     no_group[i] = id_name_dict.get(i)

In [19]:
no_group = []

for i in dif_set:
    no_group.append(i+" "+id_name_dict.get(i))

In [20]:
no_group

['B10332035 胡閔祺',
 'B10432032 王姿嵐',
 'B10415054 陳俊翰',
 'B10432016 陳亭臻',
 'B10415055 黃永豪',
 'B10215031 劉秉憲']